/* .keyboard-inputs {
    float: left;
} */

.letters {
    display: inline;
    width:200px;
    height:100px;
    background:white;
    /* border-radius: 25px; */
    border: 2px solid #73AD21;
}

/* .keyboard-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
} */