/* the file should renamed...  */

/* .letter-container {
     display: flex;
    justify-content: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
} */

.wordle-row-container {
   font-family: Helvetica, sans-serif;
}

.wordle-row {
    display: flex;
    justify-content: center;
}

.box-item {
    padding: 10px;
    height: 30px;
    line-height: 30px;
    border: solid 1px green
}